{% extends "::base.html.twig" %}

{% block body -%}
    <h3><i class="glyphicon glyphicon-registration-mark"></i> New Book Edition</h3>

    <hr>

    <div class="row">
        <div class="col-md-12">
            {{ form(form, { 'attr': {'class': 'table table-striped'} }) }}
        </div>
    </div>
{% endblock %}
